/* Colors */
$companyColor = #009cde
$mpBackgroundBlue = #D9DFE9
$mpLightBlue = #EFF1F6
$mpMidBlue = #DFE2EC
$mpPrimaryBlue = #747D94
$mpActionBlue = #53A2EB
$mpGreen = #3DD79F
$mpRed = #C22860
$mpChartBlue = #54A2EB
$mpChartGreen = #30BBBD
$mpChartPurple = #A28BCB
$mpChartRed = #DA7A80
$mpChartCyan = #2AB5E2
$mpChartYellow = #E7BC66
$mpChartPink = #ECA9CF
$mpChartLavender = #96ABE6
$axisColor = #FBFCFD
$buttonActionColor = $mpActionBlue
$buttonDisabledColor = #F5F6F8
$buttonEnabledColor = white
$chartDashBackgroundColor = $mpBackgroundBlue
$chartHorizontalDividerDashedColor = #E6E8EB
$chartHorizontalDividerSolidColor = #F2F3F5
$chartVerticalDividerColor = $mpMidBlue
$containerChartBackgroundColor = $mpMidBlue
$containerChartContentBackgroundColor = white
$containerReportBackgroundColor = $mpBackgroundBlue
$containerSectionBackgroundColor = $mpLightBlue
$lineChartLineColor = $mpActionBlue
$lineChartPointColor = $lineChartLineColor
$lineChartPointBorderColor = white
$meterColor = $mpMidBlue
$meterValueCircleColor = white
$pieChartFill = transparent
$strokeColor = $companyColor
$strokeGoodColor = $mpGreen
$strokeBadColor = $mpRed
$textPrimaryColor = $mpPrimaryBlue
$textChartTitleColor = $textPrimaryColor
$textButtonActionColor = white
$textButtonEnabledColor = $textPrimaryColor
$textButtonDisabledColor = #87929C
$tableRowOddColor = #F5F6F8
$tableRowEvenColor = white
$tableHeaderColor = $tableRowOddColor
$chartColors = ($mpChartBlue $mpChartGreen $mpChartPurple $mpChartRed $mpChartCyan $mpChartYellow $mpChartPink $mpChartLavender)
/* Sizes */
$axisSize = 30px
$yAxisPaddingTop = 4px
$yAxisValueLineHeight = 10px // For Firefox
$yAxisValueMarginTop = 21px // Add an extra pixel for divider
$yAxisTextSize = 0.5rem
$xAxisTextSize = 0.5rem
$barChartXAxisMarginLeft = 33px // 30px + 3px
$barChartXAxisMarginRight = 3px
$barChartXAxisTextBoxWidth = 12.5% // 16/516 * 100
$barMarginLeft = 20px
$barWidth = 25px
// $$RG$$ added begin
$bodyPadding = 0
// $$RG$$ added end
$borderRadiusLarge = 4px
$borderRadiusSmall = 2px
$buttonTextSize = 0.625rem
$buttonRangePickerMargin = 15px
$buttonWidth = 200px
$buttonHeight = 40px
$buttonPaddingLR = 15px
$buttonPaddingTB = 13px
$buttonLineHeight = 0.875rem
$containerBarMarginLeft = $barChartXAxisMarginLeft
$containerBarWidth = $barChartXAxisTextBoxWidth
$containerBarsPositionLeft = 33px
$containerBarsPositionBottom = 30px
$containerBarsWidthFactor = 36px // 33px (left) + 3px (right)
$containerChartContentHeight = 215px // 30px margin
// $$RG$$ modified begin
// $containerReportWidth = 980px
$containerReportWidth = 100%
$containerReportMaxWidth = 980px
$containerReportMinWidth = 850px
// $$RG$$ modified end
$chartDashBigHeight = 10px
$chartDashHeight = 5px
$chartDashMarginRight = 15px
$chartDashWidth = 1px
$chartHeight = 330px
$chartHorizontalDividerMarginTop = 30px
$chartHorizontalDividerWidth = 100%
$chartHorizontalDividerHeight = 1px
$chartVerticalDividerWidth = 1px
$chartVerticalDividerHeight = 100%
$chartVerticalDividerPositionTop = 0px
$chartVerticalDividerPositionLeft = 50%
$chartTitleTextSize = 0.750rem
$chartTitleLineHeight = 40px
$chartTitleShadowHeight = 1px
$chartTitleShadowWidth = 100%
$columnWidth = 45%
$companyLogoHeight = 30px
$containerChartTitlePaddingTB = 8px
$containerLineChartPointsPositionLeft = 30px
$containerLineChartPointsPositionBottom = 24px
// $$RG$$ modified begin
// $containerPieChartLegendMarginLeft = 50px
$containerPieChartLegendMarginLeft = 14px
// $$RG$$ modified end
$containerPieChartPadding = 20px
$containerMargin = 20px
$containerPadding = 20px
$containerInnerPadding = 10px
$disclosureIndicatorWidth = 10px
$disclosureIndicatorHeight = 7px
$disclosureIndicatorTop = 16px
$disclosureIndicatorRight = 15px
$lineChartDayOfMonthMarginRight = 16px
$lineChartDayOfNewMonthMarginRight = 8px
$lineChartDayOfNewMonthMarginLeft = -6px // Subtract four to make up for width
$lineChartDayOfMonthWidth = 16px
$lineChartDayOfNewMonthWidth = 30px
$lineChartPointSize = 8px
$lineChartPointBorderSize = 1px
$lineChartPointMarginLeft = 8px
$lineChartPointFirstMarginLeft = 7px
$lineChartXAxisMarginLeft = 30px // 36px - 1px for chart container border
$lineChartDayOfNewMonthFirstMarginLeft = -3px
$lineChartDashFirstMarginLeft = 11px
$loadingSymbolWidth = 100px
$loadingSymbolHeight = 100px
$loadingSymbolLeft = 50%
$loadingSymbolMarginLeft = -50px
$loadingSymbolMarginTop = -50px
$loadingSymbolTop = 50%
$meterHeadingTextSize = 0.875rem
$meterHeadingLineHeight = 1.250rem
$meterSize = 150px
$meterValueCircleSize = 130px
$meterValueCircleMargin = 10px
$meterValueTextSize = 1.875rem
$mpDropdownItemLineHeight = 0.875rem
$mpDropdownItemTextSize = 0.625rem
$mpDropdownItemMargin = 8px 10px
$mpDropdownPadding = 10px 20px
$mpDropdownWidth = 200px
// $$RG$$ modified begin
// $pieChartLegendItemMarginBottom = 6px
$pieChartLegendItemMarginBottom = 0px
// $pieChartLegendSize = 0.875rem
$pieChartLegendSize = 0.625rem
// $pieChartLegendTextMarginLeft = 10px
$pieChartLegendTextMarginLeft = 6px
// $$RG$$ modified end

$pieChartLegendTextSize = $pieChartLegendSize
$pieChartSize = 170px
$reportTitleTextSize = 1.250rem
$reportTitleLineHeight = $companyLogoHeight
$tableRowPaddingTB = 6px
$tableRowPaddingLR = 20px
$tableHeaderPaddingLR = $tableRowPaddingLR
$tableHeaderPaddingTB = 5px
$tableRowTextSize = 0.750rem
$tableHeaderTextSize = 0.500rem
